header {
  min-height: 20px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 15px;
  font-weight: bold;
  box-shadow: 0 1px 3px rgb(0, 0, 0, 0.05);
}

.logo {
  display: flex;
  align-items: center;
}

.logo span {
  font-size: 22px;
  margin-left: 7px;
}

.theme-container span {
  font-size: 20px;
  margin-bottom: 100px;
  cursor: pointer;
  margin-left: 10px;
}

/* .bg {
  background: rgb(2, 0, 36);
  background: linear-gradient(
    90deg,
    rgba(2, 0, 36, 1) 0%,
    rgba(67, 111, 181, 1) 0%,
    rgba(184, 200, 203, 1) 0%,
    rgba(72, 99, 99, 1) 100%
  );
} */
